<div class="game-images">
  <img ng-src="{{img}}"
       class="game"
       ng-repeat="img in game.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{game.name}}</h1>

<p>{{game.description}}</p>

<ul class="game-thumbs">
  <li ng-repeat="img in game.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in game.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{game.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{game.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{game.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{game.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{game.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{game.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{game.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{game.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{game.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{game.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{game.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{game.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in game.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{game.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{game.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{game.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{game.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{game.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{game.hardware.usb}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{game.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{game.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{game.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{game.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{game.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{game.additionalFeatures}}</dd>
  </li>
</ul>
